<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Mage
 * @package    Mage_Tax
 * @copyright  Copyright (c) 2004-2007 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Mage_Tax>
            <version>0.7.4</version>
            <depends>
                <Mage_Catalog />
                <Mage_Customer />
            </depends>
        </Mage_Tax>
    </modules>
    <global>
        <models>
            <tax>
                <class>Mage_Tax_Model</class>
                <resourceModel>tax_mysql4</resourceModel>
            </tax>
            <tax_mysql4>
                <class>Mage_Tax_Model_Mysql4</class>
                <entities>
                    <tax_class>
                        <table>tax_class</table>
                    </tax_class>
                    <tax_rate>
                        <table>tax_rate</table>
                    </tax_rate>
                    <tax_rate_type>
                        <table>tax_rate_type</table>
                    </tax_rate_type>
                    <tax_rate_data>
                        <table>tax_rate_data</table>
                    </tax_rate_data>
                    <tax_rule>
                        <table>tax_rule</table>
                    </tax_rule>
                </entities>
            </tax_mysql4>
        </models>
        <resources>
            <tax_setup>
                <setup>
                    <module>Mage_Tax</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tax_setup>
            <tax_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tax_write>
            <tax_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tax_read>
        </resources>
    </global>
    <adminhtml>
        <menu>
            <sales translate="title" module="tax">
                <children>
                    <tax translate="title" module="tax">
                        <title>Tax</title>
                        <sort_order>500</sort_order>
                        <children>
                            <rules translate="title" module="tax">
                                <title>Manage Tax Rules</title>
                                <action>adminhtml/tax_rule</action>
                            </rules>
                            <rates translate="title" module="tax">
                                <title>Manage Tax Rates</title>
                                <action>adminhtml/tax_rate</action>
                            </rates>
                            <import_export translate="title" module="tax">
                                <title>Import / Export Tax Rates</title>
                                <action>adminhtml/tax_rate/importExport</action>
                            </import_export>
                            <classes_customer translate="title" module="tax">
                                <title>Customer Tax Classes</title>
                                <action>adminhtml/tax_class_customer</action>
                            </classes_customer>
                            <classes_product translate="title" module="tax">
                                <title>Product Tax Classes</title>
                                <action>adminhtml/tax_class_product</action>
                            </classes_product>
                        </children>
                    </tax>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <tax>
                                    <title>Tax</title>
                                    <sort_order>30</sort_order>
                                    <children>
                                        <classes_customer>
                                            <title>Customer Tax Classes</title>
                                            <sort_order>0</sort_order>
                                        </classes_customer>
                                        <classes_product>
                                            <title>Product Tax Classes</title>
                                            <sort_order>10</sort_order>
                                        </classes_product>
                                        <import_export>
                                            <title>Import / Export Tax Rates</title>
                                            <sort_order>20</sort_order>
                                        </import_export>
                                        <rates>
                                            <title>Manage Tax Rates</title>
                                            <sort_order>30</sort_order>
                                        </rates>
                                        <rules>
                                            <title>Manage Tax Rules</title>
                                            <sort_order>40</sort_order>
                                        </rules>
                                    </children>
                                </tax>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Mage_Tax>
                    <files>
                        <default>Mage_Tax.csv</default>
                    </files>
                </Mage_Tax>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <translate>
            <modules>
                <Mage_Tax>
                    <files>
                        <default>Mage_Tax.csv</default>
                    </files>
                </Mage_Tax>
            </modules>
        </translate>
    </frontend>
</config>
